<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'track:index' %}">Home</a>


        <div class="form-inline" id="navbarSupportedContent">
            <ul class="navbar-nav mr-2 list-group list-group-horizontal">
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{% url 'track:user' id=1 %}">Adil <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{% url 'track:user' id=2 %}">Zak <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{% url 'track:user' id=3 %}">Yama <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{% url 'track:expense' %}">All Expenses <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{% url 'track:store' %}">Store Invoices <span
                            class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" method='POST'>
                {%csrf_token%}
                {{search.order}}
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="FIND" name="FIND">Find
                    Order</button>
            </form>
        </div>
    </nav>

</head>

<body>
    <h3>Info Has Been Added, Thank You</h3>
</body>

</html>